@model int

<tr>
  <td colspan="@Model" class="align-middle text-center">
    <div class="p-3">
      <i class="far fa-sad-tear fa-3x"></i>
      <h4 class="mt-3">No data found</h4>
    </div>
  </td>
</tr>