@{
  ViewBag.Title = "Access Denied";
}

<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-4 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x text-danger"></i><br/>Status Code: 404</p>
          </div>
          <div class="col-8">
            <h3>OPPSSS!!!! Sorry...</h3>
            <p>
              Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.
            </p>
            <a class="btn btn-primary" href="javascript:history.back()">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
