@model Download

@{
  Layout = null;
  var detail = Model.Detail.Replace (Environment.NewLine, "<br />");
}

<h4>Data download update,</h4>
<p>
  <b>Title: </b>@Model.Title
</p>
<p>
  <b>Detail: </b>@Html.Raw(detail)
</p>
<p>
  Please sign in for receive.
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>