@model OutGoingData

@{
  Layout = null;
  var detail = Model.Detail.Replace(Environment.NewLine, "<br />");
}

<h4>Inspection data update,</h4>
<p>
  <b>Supplier name: </b>@Model.Vendor.Name
</p>
<p>
  <b>Title: </b>@Model.Title
</p>
<p>
  <b>Detail: </b>@Html.Raw(detail)
</p>
<p>
  <b>Invoice no: </b>@Model.Invoice
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>