@model SelfControlledIPP

@{
  Layout = null;
}

<h4>Self-Controlled update information,</h4>
<p>
  <b>Supplier name: </b>@Model.Vendor.Name
</p>  
<p>
  <b>Detail: </b>@Model.Detail
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>