@model SupplierEvaluation

@{
  Layout = null;
}

<h4>Supplier update data informed,</h4>
<p>
  <b>Supplier name: </b>@Model.Vendor.Name
</p>
<p>
  <b>Detail: </b>@Model.Detail
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>