@{
  Layout = null;
}

<h4>Supplier evaluate feedback alert,</h4>
<p>
  Please update supplier evaluation to system  with in date 25th of month.
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>