@model SupplierEvaluation

@{
  Layout = null;
}

<h4>Supplier evaluation informed,</h4>
<p>
  <b>Detail: </b>@Model.Detail
</p>
<p>
  Please sign and update in 7 days.
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>