@{
  Layout = null;
}

<h4>Self-Controlled IPP update Alert,</h4>
<p>
  Please update self-controll IPP into system  with in date 25th of month.
</p>
<p>
  Thai Nippon Seiki Quality Online system.
</p>