@inject AppInfoSetting AppInfoSetting

@{
  ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    
    <h1 class="display-4"><strong>Welcome to</strong></h1>
    <h1 class="display-4"><strong>TNS QC Supplier Online</strong></h1>
    <p class="lead mb-3">Version <em>@AppInfoSetting.Version</em></p>
  </div>
</div>